ModernApp4Me/ModernApp4Me_Core/bin
ModernApp4Me/ModernApp4Me_Core/obj
ModernApp4Me/ModernApp4Me_WinRT/bin
ModernApp4Me/ModernApp4Me_WinRT/obj
ModernApp4Me/ModernApp4Me_WP7/bin
ModernApp4Me/ModernApp4Me_WP7/obj
ModernApp4Me/ModernApp4Me_WP8/bin
ModernApp4Me/ModernApp4Me_WP8/obj