ModernApp4Me/ModernApp4Me_Core/bin
ModernApp4Me/ModernApp4Me_Core/obj
ModernApp4Me/ModernApp4Me_WinRT/bin
ModernApp4Me/ModernApp4Me_WinRT/obj
ModernApp4Me/ModernApp4Me_WP7/Bin
ModernApp4Me/ModernApp4Me_WP7/obj
ModernApp4Me/ModernApp4Me_WP8/Bin
ModernApp4Me/ModernApp4Me_WP8/obj
ModernApp4Me/ModernApp4Me.v11.suo
/ModernApp4Me/ModernApp4Me.Core/bin
/ModernApp4Me/ModernApp4Me.Core/obj
/ModernApp4Me/ModernApp4Me.WP7.SnSLogger/Bin/Debug
/ModernApp4Me/ModernApp4Me.WP7.SnSLogger/obj/Debug
/ModernApp4Me/ModernApp4Me.WP7.SnSViewModel/Bin/Debug
/ModernApp4Me/ModernApp4Me.WP7.SnSViewModel/obj/Debug
/ModernApp4Me/ModernApp4Me.WP7.SnSWebService
/ModernApp4Me/ModernApp4Me.WP8.SnSResolution/Bin/Debug
/ModernApp4Me/ModernApp4Me.WP8.SnSResolution/obj/Debug
/ModernApp4Me/ModernApp4Me.WP8.SnSWebService/Bin/Debug
/ModernApp4Me/ModernApp4Me.WP8.SnSWebService/obj/Debug
*.db
/ModernApp4Me/ModernApp4Me.Win8/obj/Debug
/ModernApp4Me/ModernApp4Me.WP7/obj/Debug
/ModernApp4Me/ModernApp4Me.WP8/obj/Debug
