<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Capptain.WindowsPhone" version="1.0.3" targetFramework="wp80" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="wp80" />
  <package id="ImageTools" version="0.3.1" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="ModernApp4Me.Core" version="1.0.4.2" targetFramework="wp80" />
  <package id="RestSharp" version="104.4.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>