<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="wp71" />
  <package id="ImageTools" version="0.3.1" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.4" targetFramework="wp71" />
  <package id="RestSharp" version="104.4.0" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp71" />
</packages>