<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.1.0" targetFramework="portable-win81+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.WebRequest" version="3.1.0" targetFramework="portable-win81+wpa81" />
  <package id="ModernApp4Me.Core" version="1.1.2.0" targetFramework="portable-win81+wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-win81+wpa81" />
  <package id="Q42.WinRT" version="1.5.0.42" targetFramework="portable-win81+wpa81" />
  <package id="Q42.WinRT.Portable" version="1.2.3.42" targetFramework="portable-win81+wpa81" />
</packages>